{% extends "tyrists_app/base.html"%}
{% block title%}
Ответы на частые вопросы
{% endblock %}
{% block description %}
    <div class="container">
        <p class="squestions"> Вопрос 1</p>
        <p class="sansvers">Ответ 1</p>
        <p class="squestions"> Вопрос 2</p>
        <p class="sansvers">Ответ 2</p>
        <p class="squestions"> Вопрос 3</p>
        <p class="sansvers">Ответ 3</p>
        <p class="squestions"> Вопрос 4</p>
        <p class="sansvers">Ответ 4</p>

    </div>
{% endblock %}
