{% extends "tyrists_app/base.html"%}
{% block title%}
{{title}}
{% endblock %}
{% block description %}


    <div>

        {%if object.Author.profile and object.Author.profile.image %}
            <h3><img style = "width: 150px;height: 150px"
                     src="{{object.Author.profile.image.url}}"
                     alt ="{{object.Author.username}}"></h3>
        {%endif%}
        <p> {{object.TyrName}}</p>
        <p> {{object.TyrType}}</p>
        <p> {{object.TyrPrice }}</p>
        <p> {{object.TyrPoint }}</p>
        <p><img style = "width: 150px;height: 150px"src="{{object.image.url}}"
                     alt ="{{object.image.name}}"></h3></p>
    {%if object.Author == user%}
            <a href="{% url 'tyr-update' object.id%}"><button>Update </button></a>
            <a href="{% url 'tyr-delete' object.id%}"><button>Delete </button></a>
        {%endif%}
    </div>

{% endblock %}